<!DOCTYPE html>
<html>
<head>
    <title>All Bookings</title>
</head>
<body>
    <h2>All Venue Bookings</h2>
    <table border="1">
        <tr>
            <th>Name</th><th>Email</th><th>Venue</th><th>Date</th><th>Start</th><th>End</th><th>Purpose</th>
        </tr>
        {% for b in bookings %}
        <tr>
            <td>{{ b[1] }}</td><td>{{ b[2] }}</td><td>{{ b[3] }}</td><td>{{ b[4] }}</td>
            <td>{{ b[5] }}</td><td>{{ b[6] }}</td><td>{{ b[7] }}</td>
        </tr>
        {% endfor %}
    </table>
<a href="/export">Download as Excel</a><br><br>

    <br><a href="/">Back to Home</a>
</body>
</html>
